$font-main: "Poppins", sans-serif;

$color-bg: #050607;
$color-bg-dark: #000000;
$color-gold: #c89b3c;
$color-white: #ffffff;
$color-gray: #9ca3af;
$color-gray-dark: #4b5563;

$container-width: 1200px;

$radius-lg: 20px;
$radius-md: 12px;
$radius-sm: 999px;
